body {
    min-height: 75rem;
    padding-top: 4.5rem;
}
* {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.couleur_icone {
    color: #6610f2;
}
.bg-indigo {
    background-color: #6610f2;
}

.li_flex {
    display: flex;
    justify-content: space-between;
}


